<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/pages-cart.css" th:href="@{/pages-cart.css}">
</head>
<body>
    <!--日期格式化-->
    <span th:text="${#dates.format(date,'yyyy年MM月dd日 HH:mm:ss')}"></span><br>
    <!--小数格式化-->
    <span th:text="${#numbers.formatDecimal(num,1,2)}"></span><br>
    <!--字符串格式化-->
    <span th:text="${#strings.abbreviate(str,60)}"></span><br>
    <!--字符串格式化-->
    <span th:text="${#strings.substring(str,1,20)}"></span> <br>
    <!--字符串格式化-->
    <span th:if="${#strings.isEmpty(str)}">该字符串为空</span>
</body>
</html>